html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Estilos para el contenedor principal */
.background-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: black;
}

/* Overlay para oscurecer el fondo y mejorar la legibilidad */
.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparente negro */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos para el formulario de login */
.login-form {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

/* Botón de login (ubicado en la esquina superior derecha) */
#loginButton {
    position: absolute;
    top: 20px; /* A 20px del borde superior */
    right: 20px; /* A 20px del borde derecho */
    z-index: 10; /* Asegura que esté por encima del contenido */
}

/* Estilos para el texto */
.text-center {
    text-align: center;
    color: white;
}

footer {
    background-color: #8d002e; /* Rojo potente para el footer */
    color: white; /* Asegura que el texto sea blanco para contraste */
    text-align: center; /* Centra el texto */
}
