@{
	ViewData["Title"] = "Home Page";
}

<div class="background-container">

	<!-- Carrusel de fondo -->
	<div id="backgroundCarousel" class="carousel slide" data-bs-ride="carousel">
		<!-- Indicadores -->
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#backgroundCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#backgroundCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#backgroundCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#backgroundCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
			<button type="button" data-bs-target="#backgroundCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
			<button type="button" data-bs-target="#backgroundCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>

		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://arqa.com/wp-content/uploads/2023/01/jag-studio-udla-contract-0114-web-rgb.jpg" class="d-block w-100" style="height:100vh; object-fit:cover;" alt="Imagen 1">
			</div>
			<div class="carousel-item">
				<img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t51.75761-15/491446193_18382248877189675_3787939760380241889_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=RaPQjgq_EFsQ7kNvwFNgBJm&_nc_oc=Adk6IJY50ncu7KaofKIM0uTbZijpAaZMG6Opk-9uW7boOHxtb-xQT5FqM80-70Nf2Ic&_nc_zt=23&_nc_ht=scontent.fuio1-2.fna&_nc_gid=avhVlaqUC35HXUU8lVZAqg&oh=00_AfHWaQvB3Y25ik10xUVZZFhcd8Z68ok-z2B1VbQ2H7jD1A&oe=681461CC" class="d-block w-100" style="height:100vh; object-fit:cover;" alt="Imagen 2">
			</div>
			<div class="carousel-item">
				<img src="https://scontent.fuio1-1.fna.fbcdn.net/v/t39.30808-6/492414586_1238153921647339_4529030011665141417_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Lb-CFBOo4jwQ7kNvwEMonx3&_nc_oc=Adn2Am-KFaw5Ff_NzYYsCBIrAYfGgP_QXdBsZ5kl9Pbc4mSO91q87MLAfD7ZF1-Hqmk&_nc_zt=23&_nc_ht=scontent.fuio1-1.fna&_nc_gid=QiLueapdH_r4wIznsxh2Ew&oh=00_AfFXuoOAoHWtbG9xkKMYX8az5PB7G3dGG63WBJabsM1_eg&oe=681482E1" class="d-block w-100" style="height:100vh; object-fit:cover;" alt="Imagen 3">
			</div>
			<div class="carousel-item">
				<img src="https://losmejorescolegios.com/ec/wp-content/uploads/sites/8/2025/02/INTERIOR-Unidad-educativa-andino-copa-udla.webp" class="d-block w-100" style="height:100vh; object-fit:cover;" alt="Imagen Nueva">
			</div>
			<div class="carousel-item">
				<img src="https://scontent.fuio1-1.fna.fbcdn.net/v/t51.75761-15/491453461_18382729561189675_8761757914197110191_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_ohc=2hlxEg3x0FIQ7kNvwE-mRz9&_nc_oc=AdkJYlCjqi1ZjHWBAps_bdVMXVrIhFweGockzeaXs_V5vz27jsnEYZn75MspKvbAM8k&_nc_zt=23&_nc_ht=scontent.fuio1-1.fna&_nc_gid=siWuhHqAHW1fGiBpAmAJ-Q&oh=00_AfGW1ESyrZtIRdgpS52MPTWtN_9CHF3nEB5al_oGr2KJAQ&oe=681470B0" class="d-block w-100" style="height:100vh; object-fit:cover;" alt="Imagen Nueva">
			</div>
			<div class="carousel-item">
				<img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t51.75761-15/464252918_18358677580189675_2039156493827737623_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Ir0m-0c6XAEQ7kNvwExa5a3&_nc_oc=Adm0RY18cH4H1xtGhY8AI5M-pJXAQpBjHA7uJBDG9kBTAGzBp__-QmDBmlwyq_pNkP4&_nc_zt=23&_nc_ht=scontent.fuio1-2.fna&_nc_gid=c7I41DOnE_Z6G5qmhHl4XQ&oh=00_AfFyIu6WUNbrVO1VkOFZKoatUxcnN75ZHN2ikupJMV72SA&oe=6814817C" class="d-block w-100" style="height:100vh; object-fit:cover;" alt="Imagen Nueva">
			</div>
		</div>
		<!-- Botón Anterior -->
		<button class="carousel-control-prev" type="button" data-bs-target="#backgroundCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>

		<!-- Botón Siguiente -->
		<button class="carousel-control-next" type="button" data-bs-target="#backgroundCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<!-- Capa oscura y contenido encima -->
	<div class="content-overlay">
		<div class="text-center">
			<h1 class="display-4">UdlaCamp</h1>
			<p>Learn about <a href="https://learn.microsoft.com/aspnet/core" style="color:white;">building Web apps with ASP.NET Core</a>.</p>
		</div>

		<button class="btn btn-primary" id="loginButton" onclick="toggleLoginForm()">Login</button>

		<div id="loginForm" class="login-form" style="display:none;">
			<form asp-action="Login" method="post">
				<div class="mb-3">
					<label for="email" class="form-label">Institutional Email Address</label>
					<input type="email" class="form-control" id="email" name="email" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password" required>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
	@if (TempData["LoginSuccess"] != null)
	{
		<div class="alert alert-success">@TempData["LoginSuccess"]</div>
	}
	@if (TempData["LoginError"] != null)
	{
		<div class="alert alert-danger">@TempData["LoginError"]</div>
	}

</div>